
$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090D11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark:  #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #eb0f0f;
$red-light: #d34040;


$blue-normal: #072ed8;
$blue-dark: #0401d8;
$blue-light: #20a6ff;

$menu-light: #48b427;
$menu-normal: #4b7e33;
$menu-nav:#0702ff;

$nav-button: #004e04;


